/* Default Theme */
:root {
    --background-color:#f9f4f5;
    --body-background-color:white;
    --text-color:#170f11;
    --header-hover-border-color:#c8b8d8;
    --header-hover-background-color:#ede5ef;
    --container-background-color:#f3edf2;
    --border-color:#502f4c;
    --setting-background-color:#ede5ef; 
}

/* Option 1 Theme */
[data-theme="oceanblue"]{
    --body-background-color:#F0F2EF;
    --background-color:#2D2C38;
    --text-color:white;
    --header-hover-border-color:#a6a39b;
    --header-hover-background-color:#a6a39b;
    --container-background-color:#333146;
    --border-color:#7d9bbd;
    --setting-background-color:#7d9bbd; 
}

/* Option 2 Theme */
[data-theme="vibrant"]{
    --body-background-color:#fffbfb;
    --background-color:#f7d6b0;
    --text-color:#170f11;
    --header-hover-border-color:#d1b978;
    --header-hover-background-color:#d1b568;
    --container-background-color:#ac3e3e;
    --border-color:#bd5858;
    --setting-background-color:#e06767; 
} 

/* Option 3 */
[data-theme="forest"]{
    --body-background-color:#f0f0f0;
    --background-color:#2f4f4f;
    --text-color:#f0f0f0;
    --header-hover-border-color:#3e8e41;
    --header-hover-background-color:#3e8e41;
    --container-background-color:#3e8e41;
    --border-color:#3e8e41;
    --setting-background-color:#2f4f4f;
}

/* Dark mode */
[data-theme="dark"]{ 
    --body-background-color:#1a1a1a;
    --background-color:#1a1a1a;
    --text-color:#f0f0f0;
    --header-hover-border-color:#1f2525;
    --header-hover-background-color:#0f1314;
    --container-background-color:#0b060e;
    --border-color:#111311;
    --setting-background-color:#13111a;
}
/* CSS Reset */
body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    color:var(--text-color);
    background-color: var(--body-background-color);
}
/*Styling navbar */
header{
    background-color: var(--background-color);
    display:flex; 
    justify-content: start;
    align-items: center;
    border-radius: 5px;
    padding:0 10px;
    margin-bottom: 10px;
    
}

header a{
    font-size:16px;
    padding:15px;
}

header a:link {
    text-decoration: none;
    color:var(--text-color);
}

header a:visited{
    text-decoration: none;
    color:var(--text-color);
}

header a:hover{
    border: 1px var(--header-hover-background-color) solid;
    background-color: var(--header-hover-background-color);
    
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px var(--border-color) solid;
    border-radius: 5px;
    background-color: var(--container-background-color);
    padding: 30px 40px 0;
    margin: 40px;
}

.setting-item{
    border: 1px var(--border-color) solid;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 30px ;
    padding:15px;
    background-color: var(--setting-background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.setting-item h3{
    margin:0;
    padding:0;
    font-size: 20px;
}

.setting-item p{
    margin: 0;
    padding-top: 10px;
    font-size: 13px;
    
}

.toggle{
    background-color: #c4b7b7;
    padding: 10px 1px;
    font-size: 20px;
    border:none;
    border-radius: 5px;
    margin: 10px;
}

.toggle:active{
    border: none;
}

/* Styling the footer */
footer{
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
    margin-top:50px;
    margin-bottom: 15px;
    padding:70px 30px 0;
    font-size: 10px;
}

.social-handles{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: left;
    gap:5px;
    line-height: 0.5px;
    letter-spacing: 0.5px;
    font-size:12px;
}

.social-handles a{
    padding-bottom: 5px;
}

.social-handles a:link{
    text-decoration: none;
    color: var(--text-color);
}

.social-handles a:visited{
    text-decoration: none;
    color:var(--text-color);
}

.fa-brands{
    padding-right:3px;
}

.credits{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;
} 

@media (max-width:430px) {
    header{
        display:flex;
        justify-content: space-between;
        align-items: start;
        margin-bottom: 35px;
    }

    header a{
        font-size:10px;
        padding:10px;
        text-align: center;
    }

    .container{
        margin: 0;
    }

    .credits{
        text-align: center;
    }
}

.settings{
    display: none;
}